p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(145, 119, 215);
  margin: 10px;
  padding: 20px;
  margin-top: auto;
  font-size: 60px;
  font-weight: bolder;
}

img {
  align-content: center;
  margin-left: 550px;
}

body {
  background-color: rgb(189, 247, 227);
}

#start {
  background-color: rgb(183, 161, 243);
  border-radius: 10px;
  border: 0cap;
  width: 150px;
  height: 80px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(189, 247, 227);
  font-size: xx-large;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  margin-left: 650px;
}
